# Rider
.idea/
*.sln.iml

# Visual Studio
.vs/
*.user
*.suo

# Build output
bin/
obj/
dist/
build/

# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Others
*.DS_Store
.env
*.vscode